body,h1,h2,h3,h4,h5,h6 {font-family: Roboto, sans-serif;}
body{
    color: aliceblue;
    border-radius: 50px;
    background: linear-gradient(145deg, #1c1b4a, #212058);
    box-shadow:  20px 20px 60px #1a1a46,
    -20px -20px 60px #24235e;
}

table { border-collapse: collapse; empty-cells: show; }

tr{
    max-width: 100%;
    flex-wrap: nowrap;
    max-height:70px;
}

.hs{
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cl{
    color: azure;
}

.tl{
    color: lawngreen;
    text-transform: uppercase;
}
select{width: auto;}

.tbtr tr:nth-child(even) td{
    color: #F09819;
}

.tbtr tr:nth-child(odd) td{
    color:blueviolet;
}

table tbody tr:nth-child(even) td{
    color: #D31027;
}

table tbody tr:nth-child(odd) td{
    color: #DA22FF;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.logo{
    margin-left: 15px;
    width: 48px;
    height: 48px;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
    z-index: 5;
}

.container{
    top: 2%;
    left: 5%;
    z-index: 0;
    position: absolute;
}